* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.val {
  width: 300px;
  height: 40px;
}

dl {
  width: 200px;
}

dl dt {
  font-size: 26px;
}

dl dd p {
  line-height: 50px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

dl dd p input {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

dl dd p span {
  display: inline-block;
}
