* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.val {
    width: 300px;
    height: 40px;
}
dl {
    width: 200px;

    dt {
        font-size: 26px;
    }

    dd {
        p {
            line-height: 50px;
            width: 300px;
            display: flex;
            justify-content: space-around;
            input {
                width: 20px;
                height: 20px;
                margin-top: 15px;
            }
            span {
                display: inline-block;
            }
        }
    }
}