<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./flexible.js"></script>
</head>

<body>
    <main>
        <dl>
            <dt>
                <input type="checkbox">
                <img src="" alt="">
            </dt>
            <dd>
                <p>实现对方答复是否都是</p>
                <div class="p">
                    <p>
                        ￥<span>29999</span>
                    </p>
                    <p>
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </p>
                </div>

                <span>
                    删除
                </span>
            </dd>
        </dl>
    </main>
    <footer>
        <p class="l">
            <input type="checkbox" class="all" ><span>全选</span>
        </p>
        <p class="r">
            <span>
                合计：￥
                <b class="total">0</b>
            </span>

            <span>
                去结算
            </span>
        </p>
    </footer>
    <script src="./index.js"></script>
</body>

</html>