* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 37.5px;
  overflow: hidden;
  position: relative;
}

nav {
  width: 100%;
  height: 1.66667rem;
  border-bottom: 1px solid #dbdbdb;
}

nav > p {
  width: 100%;
  height: 1.66667rem;
  line-height: 1.66667rem;
  text-align: center;
  background-color: #f6f6f6;
  font-size: 0.53333rem;
  font-weight: 900;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #dadada;
}

main > ul {
  width: 100%;
  height: auto;
  background-color: #fff;
}

main > ul > li {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 4rem;
  border-bottom: 1px solid #dadada;
  position: relative;
}

main > ul > li #dsjkfnedf {
  margin-top: 1.86667rem;
  width: 0.4rem;
  height: 0.4rem;
}

main > ul > li > p {
  width: 2.13333rem;
  height: 2.13333rem;
  margin: 0.93333rem auto;
}

main > ul > li > p > img {
  display: block !important;
  margin: 0rem auto;
  width: 1.73333rem;
  height: 2.13333rem;
}

main > ul > li > div {
  width: 6.4rem;
  margin-left: 0.13333rem;
  position: relative;
  padding-bottom: 20px;
  box-sizing: border-box;
}

main > ul > li > div .hb_cpl_b_1 {
  height: 0.4rem;
  font-size: 0.37333rem;
  font-weight: 900;
  margin: 0.4rem 0 0.2rem;
}

main > ul > li > div .hb_cpl_b_2 {
  height: 0.46667rem;
  overflow: hidden;
  font-size: 0.29333rem;
  font-weight: 500;
  color: #9f9f9f;
}

main > ul > li > div > div {
  width: 6.4rem;
  margin-top: 10px;
}

main > ul > li > div > div .gphjfei {
  float: left;
}

main > ul > li > div > div .gphjfei > span {
  font-size: 0.42667rem;
  color: red;
}

main > ul > li > div > div .gphjfei > del {
  color: #bbb8b8;
  font-size: 0.24rem;
}

main > ul > li > div > div .vigvnid {
  position: absolute;
  bottom: 0.8rem;
  right: 0;
  width: 2.66667rem;
  height: 0.93333rem;
}

main > ul > li > div > div .vigvnid > span:nth-child(1) {
  display: inline-block;
  border: 1px solid #9f9f9f;
  width: 0.66667rem;
  height: 0.66667rem;
  border-radius: 50%;
  line-height: 0.66667rem;
  text-align: center;
  font-size: 0.45333rem;
}

main > ul > li > div > div .vigvnid > span:nth-child(2) {
  display: inline-block;
  font-size: 0.4rem;
  width: 0.53333rem;
  text-align: center;
}

main > ul > li > div > div .vigvnid > span:nth-child(3) {
  display: inline-block;
  border: 1px solid #9f9f9f;
  width: 0.66667rem;
  height: 0.66667rem;
  border-radius: 50%;
  line-height: 0.66667rem;
  text-align: center;
  font-size: 0.45333rem;
}

main > ul > li .sdsa {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #bbb8b8;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
  color: red;
  font-weight: 900;
}

.ndfdhfu {
  border-top: 1px solid #bbb8b8;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.33333rem;
  line-height: 1.33333rem;
}

.ndfdhfu > p {
  float: left;
  font-size: 0.34667rem;
  color: #9f9f9f;
}

.ndfdhfu > p > input {
  width: 0.4rem;
  height: 0.4rem;
  margin-left: 0.46667rem;
}

.ndfdhfu > p > span {
  margin-left: 0.33333rem;
  margin-top: 0rem;
}

.ndfdhfu > div {
  float: right;
  display: flex;
}

.ndfdhfu > div > p:nth-child(1) {
  font-size: 0.34667rem;
}

.ndfdhfu > div > p:nth-child(1) > span {
  display: inline-block;
  width: 1.8rem;
  text-align: center;
  font-size: 0.4rem;
  color: #ff4036;
}

.ndfdhfu > div > p:nth-child(2) {
  width: 3.2rem;
  background-color: #ff4036;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
}
