* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  background-color: #d4d3d3;
}

.body {
  overflow-x: hidden !important;
  max-width: 25rem;
  height: auto;
}

.body .box {
  width: 100%;
  overflow: hidden;
  padding: 0.625rem;
  box-sizing: border-box;
  display: flex;
}

.body .box nav {
  flex: 1;
}

.body .box nav .fmweifcjemw {
  width: 100%;
}

.body .box nav .fmweifcjemw > li {
  height: 3.75rem;
  line-height: 3.75rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
  color: #000;
  font-size: 0.9375rem;
  text-align: center;
}

.body .box main {
  flex: 3;
}

.body .box main .mivremj {
  width: 100%;
}

.body .box main .mivremj > li {
  margin-bottom: 0.9375rem;
  padding: 0.625rem 0.9375rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.625rem;
}

.body .box main .mivremj > li > p {
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 900;
}

.body .box main .mivremj > li .mdocwwe {
  width: 100%;
}

.body .box main .mivremj > li .mdocwwe > dl {
  margin-right: 11px;
  display: inline-block;
  width: 28%;
  margin-bottom: 5px;
}

.body .box main .mivremj > li .mdocwwe > dl > dt {
  width: 100%;
}

.body .box main .mivremj > li .mdocwwe > dl > dt > img {
  margin: 0 auto;
  display: block !important;
  width: 3.125rem;
  height: 3.125rem;
}

.body .box main .mivremj > li .mdocwwe > dl > dd {
  font-size: 0.8125rem;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.body .box main .mivremj > li .mdocwwe > dl:nth-child(3n) {
  margin: 0;
}
