* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    background-color: rgb(212, 211, 211);

   
}

.body {
    overflow-x: hidden !important;
    max-width: 25rem
        /* 400/16 */
    ;
    height: auto;

    .box {
        width: 100%;
        overflow: hidden;
        padding: .625rem
            /* 10/16 */
        ;
        box-sizing: border-box;
        display: flex;

        nav {
            flex: 1;

            .fmweifcjemw {
                width: 100%;

                >li {
                    height: 3.75rem
                        /* 60/16 */
                    ;
                    line-height: 3.75rem
                        /* 60/16 */
                    ;
                    padding-right:1.25rem /* 20/16 */ ;
                    box-sizing: border-box;
                    color: #000;
                    font-size: .9375rem /* 15/16 */;
                    text-align: center;
                }
            }
        }

        main {
            flex: 3;

            .mivremj {
                width: 100%;

                >li {
                    margin-bottom: .9375rem
                        /* 15/16 */
                    ;
                    padding: .625rem
                        /* 10/16 */
                        .9375rem
                        /* 15/16 */
                    ;
                    box-sizing: border-box;
                    background-color: #ffffff;
                    border-radius: .625rem
                        /* 10/16 */
                    ;

                    >p {
                        height: 2.5rem
                            /* 40/16 */
                        ;
                        font-size: 1rem
                            /* 16/16 */
                        ;
                        font-weight: 900;

                    }

                    .mdocwwe {
                        width: 100%;

                        >dl {
                            margin-right: 11px;
                            display: inline-block;
                            width: 28%;
                            margin-bottom:5px ;

                            >dt {
                                width: 100%;

                                >img {
                                    margin: 0 auto;
                                    display: block !important;
                                    width: 3.125rem
                                        /* 50/16 */
                                    ;
                                    height: 3.125rem
                                        /* 50/16 */
                                    ;
                                }
                            }

                            >dd {
                                font-size: .8125rem /* 13/16 */;
                                width: 100%;
                                height: 2.5rem
                                    /* 40/16 */
                                ;
                                line-height: 2.5rem
                                    /* 40/16 */
                                ;
                                text-align: center;
                            }
                        }

                        >dl:nth-child(3n) {
                            margin: 0;
                        }
                    }
                }

            }
        }
    }
}